* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

.content-container {
  width: min(50vw, 900px);
  margin: 0 auto;
  padding: 1rem 0;
}

legend {
  margin-left: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

form {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

fieldset {
  flex: 0 1 45%;
  display: flex;
  flex-direction: column;
  height: min(45vh, 40vh);
  padding: 1rem 2rem;
}

.form-item {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.form-item input,
.form-item select {
  padding: 0.2rem;
}

label {
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #515151;
}

.submit-button {
  display: flex;
  justify-content: center;
}

.submit-button button {
  width: 6rem;
}

input:invalid,
select:invalid {
  border: 2px solid red;
  border-radius: 3px;
}

input:focus:invalid {
  outline: none;
  border: 2px solid red;
}

.books-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

#display-item {
  border: 3px solid #713f12;
  border-radius: 10px;
  padding: 1rem;
  background-color: #fde68a;
  font-weight: bold;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
}

#display-item button,
.switch {
  align-self: center;
}

.remove-button {
  color: white;
  background-color: red;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1rem;
  width: 2rem;
  border: 2px solid white;
}

.switch {
  margin-top: 0.5rem;
  position: relative;
  width: 2.5rem;
  height: 1.25rem;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 2.5rem;
  height: 1.25rem;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(1.25rem - 5px);
  width: calc(1.25rem - 5px);
  top: 2.5px;
  left: 2.5px;
  border-radius: 50%;
  background-color: white;
  transition: 0.4s;
}

.switch input:checked + .slider {
   background-color: #2196F3;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  transform: translateX(calc(1.25rem - 1px));
}
