* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

.content-container {
  width: min(50vw, 900px);
  margin: 0 auto;
  padding: 1rem 0;
}

legend {
  margin-left: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

form {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

fieldset {
  flex: 0 1 45%;
  display: flex;
  flex-direction: column;
  height: min(45vh, 35vh);
  padding: 1rem 2rem;
}

.form-item {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #515151;
}

.submit-button {
  display: flex;
  justify-content: center;
}

.submit-button button {
  width: 6rem;
}

input:invalid,
select:invalid {
  border: 2px solid red;
  border-radius: 3px;
}

input:focus:invalid {
  outline: none;
  border: 2px solid red;
}

.books-display {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.display-item {
  border: 3px solid #713f12;
  border-radius: 10px;
  padding: 1rem;
  background-color: #fde68a;
  font-weight: bold;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
}

.remove-button {
  color: red;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1rem;
  width: 2rem;
}

.display-item input {
  margin-top: 0.5rem;
}

/* how can i properly target these? */
.display-item input,
.display-item button {
  align-self: center;
}
